In [25]:
import numpy as np
import pandas as pd

In [26]:
spam=pd.read_csv(r"Datasets\spam.csv", encoding='latin-1')

spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [27]:
drop_cols=spam.columns[2:]
spam.drop(columns=drop_cols,inplace=True)

In [28]:
spam['length']=spam.v2.apply(lambda x: len(x))

spam.head()

     v1                                                 v2  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [29]:
def convert_feature(text):
    if text=='ham':
        return 0
    elif text=='spam':
        return 1
    else:
        return None

In [30]:
y=np.array(spam.v1.apply(convert_feature))

In [6]:
import nltk

In [8]:
nltk.download_shell()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> stopwords

    Downloading package stopwords to
        C:\Users\CarlWhelan\AppData\Roaming\nltk_data...
      Package stopwords is already up-to-date!

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

Bag of words method

In [57]:
import string
from nltk.corpus import stopwords

In [59]:
def string_to_list(text):
    #remove punctuation, then split, then take only words not in english stopwords
    return [word for word in ''.join([c for c in text if c not in string.punctuation]).split() if word.lower() not in stopwords.words('english')]

In [61]:
spam['v2']=spam.v2.apply(string_to_list)

In [62]:
spam.v2

0       [Go, jurong, point, crazy, Available, bugis, n...
1                          [Ok, lar, Joking, wif, u, oni]
2       [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3           [U, dun, say, early, hor, U, c, already, say]
4       [Nah, dont, think, goes, usf, lives, around, t...
                              ...
5567    [2nd, time, tried, 2, contact, u, U, å£750, Po...
5568                   [Ì, b, going, esplanade, fr, home]
5569                     [Pity, mood, Soany, suggestions]
5570    [guy, bitching, acted, like, id, interested, b...
5571                                   [Rofl, true, name]
Name: v2, Length: 5572, dtype: object